<!-- Clients Aside -->
<aside class="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Participants</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a href="https://btcassessors.com">
          <img src="img/logos/btcassessors.png" class="img-responsive img-centered" alt="btcassessors">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="https://apiumtech.com">
          <img src="img/logos/apiumtech.png" class="img-responsive img-centered" alt="apiumtech">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="#">
          <img src="img/logos/hashpool.png" class="img-responsive img-centered" alt="hashpool">
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a href="https://www.undercoverlab.com/">
          <img src="img/logos/undercoverlab.png" class="img-responsive img-centered" alt="undercoverlab">
        </a>
      </div>
    </div>
  </div>
</aside>
