<section id="faq" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Preguntes freqüents</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <h3>Què és {{ site.title }}?</h3>
        <h3 class="section-subheading text-muted">
            <b>{{ site.title }}</b> és una iniciativa creada de forma orgànica des de
            la base, amb l'objectiu de dotar a Andorra d'una xarxa supervisada
            que permeti promocionar la cultura <i>blockchain</i> al país. Aquesta xarxa està formada pels nodes que aporten les empreses i entitats de les valls que formen part del consorci.
        </h3>
      </div>

      <div class="col-lg-12">
          <h3>De què serveix una xarxa <i>blockchain</i> a Andorra?</h3>
        <h3 class="section-subheading text-muted">
          És un ecosistema pensat per oferir un consens tecnològic que permeti crear un entorn digital compartit entre múltiples sectors creant sinergies de cooperació entre les entitats i les empreses participants.
        </h3>
      </div>

      <div class="col-lg-12">
          <h3>Qui és el propietari de la xarxa Andorrana {{ site.title }}?</h3>
        <h3 class="section-subheading text-muted">
          Tots i ningú. Totes aquelles empreses que estiguin registrades al consorci podran ser propietàries d'un node sealer i participar així en el registre de les transaccions a la xarxa. Totes aquelles persones que estiguin registrades al consorci tenen dret a utilitzar-la i, per tant, rebre tokens que ho permetin.
        </h3>
      </div>


      <div class="col-lg-12">
        <h3>Existeix més d'una blockchain? </h3>
        <h3 class="section-subheading text-muted">
            Sí. L’ecosistema de {{ site.title }} es crea amb dues xarxes de
            Ethereum paral·leles, la blockchain de proves anomenada
            <b>enclar</b> i una blockchain de producció anomenada
            <b>monturull</b> (encara no en funcionament). Així es proporciona un espai de proves que garanteix l'estabilitat
          i l'escalabilitat de l’entorn de producció on els registres són exclusivament els imprescindibles.
        </h3>
      </div>

      <div class="col-lg-12">
        <h3>Com es garanteix el control de la xarxa?</h3>
        <h3 class="section-subheading text-muted">
          En cas que una empresa o persona no es comporti correctament segons les regles definides pel propi consorci, o bé incompleixi la legislació vigent, serà expulsada de la xarxa i deixarà de poder utilitzar la infraestructura. Aquest servei
          de control sobre la xarxa serà una obligació compartida entre tots els nodes sealers participants.
        </h3>
      </div>
    </div>
  </div>

</section>
