<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navegació</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Característiques</a>
        </li>
        <li>
          <a class="page-scroll" href="#related">Informació</a>
        </li>
        <li>
          <a class="page-scroll" href="#roadmap">Roadmap</a>
        </li>
        <li>
          <a class="page-scroll" href="#impulsors">Impulsors</a>
        </li>
        <li>
          <a class="page-scroll" href="#faq">FAQ</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contacte</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
        <div class="intro-lead-in">La <i>blockchain</i> d'Andorra, al servei del país</div>
      <div class="intro-heading">{{ site.title }}</div>
      <a href="#services" class="page-scroll btn btn-xl">Saber-ne més</a>
    </div>
  </div>
</header>
