<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{{ "/css/font-awesome/css/all.min.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"
                                    href="img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#21227f">
  <meta name="msapplication-TileImage" content="img/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#21227f">
</head>
