<!-- Team Section -->
<section id="impulsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Membres</h2>
        <h3 class="section-subheading text-muted">Membres participants del consorci</h3>
        <h3 class="section-subheading text-muted"><a href="./identities.json">Detalls</a></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/logos/btcassessors.png" class="img-responsive img-circle" alt="btcassessors">
          <h4>BTC Assessors</h4>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://btcassessors.com">
                <i class="fas fa-globe-europe"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/btcassessors">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/btcassessors">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/logos/telecom.png" class="img-responsive img-circle" alt="andorratelecom">
          <h4>Andorra Telecom</h4>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://www.andorratelecom.ad/">
                <i class="fas fa-globe-europe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img src="img/logos/feda.png" class="img-responsive img-circle" alt="feda">
          <h4>FEDA</h4>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://www.feda.ad/">
                <i class="fas fa-globe-europe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="team-member">
          <img src="img/logos/uda.png" class="img-responsive img-circle" alt="UdA">
          <h4>Universitat d'Andorra</h4>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://www.uda.ad/">
                <i class="fas fa-globe-europe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img src="img/logos/actua.png" class="img-responsive img-circle" alt="actua">
          <h4>Actua</h4>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://www.actua.ad/">
                <i class="fas fa-globe-europe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="team-member">
          <img src="img/logos/apiumtech.png" class="img-responsive img-circle" alt="apiumtech">
          <h4>Apiumtech</h4>
          <ul class="list-inline social-buttons">
            <li>
              <a href="https://apiumtech.com/">
                <i class="fas fa-globe-europe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="team-member">
          <img src="img/logos/hashpool.png" class="img-responsive img-circle" alt="hashpool">
          <h4>Hashpool</h4>
          <ul class="list-inline social-buttons">
            <li>
              <a href="#">
                <i class="fas fa-globe-europe"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">El primer espai digital de treball, neutral i controlat, que permet desenvolupar l'ecosistema blockchain a Andorra.</p>
      </div>
    </div>
  </div>
</section>
