<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Forma'n part</h2>
        <h3 class="section-subheading" style="color:white;">Inscriu-te per estar al dia de les pròximes novetats!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate action="https://blockvalley.us7.list-manage.com/subscribe/post?u=4906debb32c4f7df838c6c652&amp;id=55b9a39c1f" method="post" target="_blank">
          <div class="row">
            <div class="col-md-6">
              <div class="control-group form-group">
                <input type="text" class="form-control" placeholder="Empresa" name="EMPRESA" required data-validation-required-message="Please enter your company name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="text" class="form-control" placeholder="Nom" name="NOM" required data-validation-required-message="Please enter your name.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="email" class="form-control" placeholder="Email" name="EMAIL" required data-validation-required-message="Please enter your email address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="control-group form-group">
                <input type="text" class="form-control" placeholder="NRT" name="NRT" required data-validation-required-message="Please enter your NRT.">
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group form-group">
                <input type="tel" class="form-control" placeholder="Adreça d'Ethereum" name="ETHADDRESS" required data-validation-required-message="Please enter your address.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl">Inscriu-me</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
