<!-- Related links Section -->
<section id="related">
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Més informació</h2>
        <h3 class="section-subheading text-muted">
          Aquí tens alguns enllaços per a descobrir-ho tot sobre {{ site.title }}.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <a href="https://gitlab.com/blockvalley/blockvalley" target="_blank">
            <i class="fas fa-code fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <h4 class="service-heading">Codi</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <a href="https://gitlab.com/nodecenter/app" target="_blank">
            <i class="fa fa-toolbox fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <h4 class="service-heading">Nodecenter</h4>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <a href="https://blockvalley.rtfd.io/" target="_blank">
            <i class="fa fa-book fa-stack-1x fa-inverse"></i>
          </a>
        </span>
        <h4 class="service-heading">Documentació</h4>
      </div>

    </div>
  </div>
</section>
