<!-- Roadmap Section -->
<section id="roadmap" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Roadmap</h2>
        <h3 class="section-subheading text-muted">Etapes del projecte.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Q4 2018</h4>
                <h4 class="subheading">Visió BlockValley</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Creació del consorci BlockValley.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Q1 2019</h4>
                <h4 class="subheading">Naixement BlockValley</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Publicació documentació oficial. <br>
                  Creació de la estructura jurídica. <br>
                  Execució de la primera xarxa d'Ethereum en proves: <b>Enclar</b>.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Q2 2019</h4>
                <h4 class="subheading">Transition to Full Service</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Execució de la xarxa d'Ethereum en producció: <b>Monturull</b>.<br>
                  Promoció de la instal·lació de nodes. <br>
                  Implantació de la xarxa a entitats el país.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Q3 2019</h4>
                <h4 class="subheading">Phase Two Expansion</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Obtenir el grau de legalitat necessària a la xarxa per tal que els registres siguin acceptats com a vàlids al principat. <br>
                  Promoció de la instal·lació de nodes.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Junts
                <br>seguim
                <br>avançant!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
