<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ site.title }}</h2>
        <h3 class="section-subheading text-muted">
          Una xarxa autoritzada d’Ethereum a Andorra per donar servei a un ecosistema d'empreses i institucions que necessiten una infraestructura per poder desenvolupar aplicatius sobre la blockchain de forma controlada.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-search fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Transparent</h4>
        <p class="text-muted">
          Amb l’objectiu d'atorgar la màxima transparència a la xarxa, tots els membres del consorci són agents coneguts, per tant les transaccions realitzades a la xarxa no són anònimes. La transparència de la xarxa és la base per poder desplegar
          aplicacions i realitzar registres de dades a la blockchain amb validesa legal.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Segura</h4>
        <p class="text-muted">
          Per a facilitar que els membres del consorci puguin formar part de la xarxa de BlockValley de forma activa, s'han dockeritzat els diferents elements que conformen la xarxa permetent un desplegament ràpid, senzill i segur. Així, són els
          propis membres del consorci els que contribueixen en la creació d’aquest espai digital.
        </p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-infinity fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">Possibilitats infinites</h4>
        <p class="text-muted">
          El consorci té com a propòsit permetre la investigació, produir serveis i donar a conèixer les possibilitats de la blockchain. Així, i de cara a poder ser el més ampli possible, BlockValley és un ecosistema que va més enllà de la xarxa
          Ethereum i treballa amb diferents protocols per tal de no limitar l’espai de treball a una única forma de fer.
        </p>
      </div>
    </div>
  </div>
</section>
